In [56]:
d={"name":["ind","pak"],"state":["up","punjab"]}

In [4]:
d["name"]

['ind,pak']

In [31]:
school={"abc":{"student":["a","b","c"],"age":[5,6,4],"id":[1,2,3]},"def":{"student":["d","e","f"],"age":[5,6,4],"id":[4,5,6]}}

In [45]:
school["abc"]["student"][0]

'a'

In [44]:
school["abc"]["age"][0]

5

In [46]:
import pandas as pd

In [59]:
data=pd.DataFrame(d)

In [60]:
data

  name   state
0  ind      up
1  pak  punjab

In [64]:
a={"id":[1,2,3,4,5,6],"name":["a","b","c","d","e","f"]}

In [65]:
data=pd.DataFrame(a)

In [66]:
data

   id name
0   1    a
1   2    b
2   3    c
3   4    d
4   5    e
5   6    f

In [72]:
data=pd.DataFrame(school)

In [68]:
data

               abc        def
age      [5, 6, 4]  [5, 6, 4]
id       [1, 2, 3]  [4, 5, 6]
student  [a, b, c]  [d, e, f]

In [75]:
import numpy as np

In [76]:
import pandas as pd

In [85]:
pd.DataFrame(np.arange(0,12).reshape(3,4),columns=["A","B","C","D"],index=["x","y","z"])

   A  B   C   D
x  0  1   2   3
y  4  5   6   7
z  8  9  10  11

In [94]:
x=np.array([1,2,3,4,5,6,7,8,9,10,11,12])

In [96]:
pd.DataFrame(x.reshape(3,4),columns=["A","B","C","D"],index=["x","y","z"])

   A   B   C   D
x  1   2   3   4
y  5   6   7   8
z  9  10  11  12

In [98]:
pd.DataFrame(x.reshape(4,3),columns=["A","B","C"],index=["x","y","z","a"])

    A   B   C
x   1   2   3
y   4   5   6
z   7   8   9
a  10  11  12